* {
    --color-primary: #003f2d;
    --color-primary-hover: #00281f;
    --color-secondary: #d9eadf;
    --color-accent: #0b6b4a;
    --color-accent-hover: #004631;
    --color-disabled: #d5e2da;

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.no-text-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.all-btns {
    padding: 0.55em 1.5em;
    font-size: 1em;
    background-color: var(--color-primary);
    color: white;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
    height: 100%;
}

.all-btns:hover {
    background-color: var(--color-primary-hover);
}

.all-btns:disabled {
    background-color: var(--color-disabled);
    cursor: not-allowed;
}
